<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
</head>

<p id="notice"><%= notice %>

<h1 class =dares>Dares</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dares.each do |dare| %>
      <tr>
        <td><%= dare.text %></td>
        <td><%= link_to 'Show', dare %></td>
        <td><%= link_to 'Edit', edit_dare_path(dare) %></td>
        <td><%= link_to 'Destroy', dare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dare', new_dare_path %>
</button>

