<%= form_with(model: truth) do |form| %>
  <% if truth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truth.errors.count, "error") %> prohibited this truth from being saved:</h2>

      <ul>
        <% truth.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
