<p id="notice"><%= notice %></p>

<h1 class =truths>Vérité</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
  </thead>

  <tbody>
    <% @truths.each do |truth| %>
      <tr>
        <td><%= truth.text %></td>
        <td><%= link_to 'Show', truth %></td>
        <td><%= link_to 'Edit', edit_truth_path(truth) %></td>
        <td><%= link_to 'Destroy', truth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truth', new_truth_path %>
